
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #EAC926;
    position: fixed;
    padding: 10px;
    top: 0;
    z-index: 1;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

.logo {
    width: 50%;
    padding: 10px;
}

.buscador {
    width: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
}

header p {
    text-align: center;
    }

header nav {
    display: none;
}

header nav ul li a{
    font-size: 12px;
    text-decoration: none;
    color:#000
}

header nav ul li{
    list-style-type: none;
}

header nav ul{
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 42%;
}

header .buscador .input{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 200px;
}

header .buscador .lupa i{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    
}

h3 {
    font-size: 24px;
    text-decoration: none;
    color:#000
}


header div.burger-menu i{
    color:#FFF;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 10px;
}

header div.burger-menu {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 90vw;
}

header {
    width: 100%;
}

.banner-img {
    display: block;
    margin-top:250px;
    width: 100%;

}

main section article {
    margin-bottom: 10px;

}

main section article img {
    width: 100%;
    transition: all 0.4s;
}

.info-article {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    transition: all 0.4s;
}

.precio{
    width: 30%;
    }

.descuento{
    width: 70%;
    }


main section article div i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

footer{
    width: 100%;
    height: auto;
    background-color: #EAC926;
    color: #03264C;
    text-align: center;
}

#footer-icon{
    font-size: 2em;
    margin-top: 30px;
}

#footer-icon:hover{
    color: #0022AA;
}

.footer-titulo{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}

.footer-descripcion{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

.footer-copyright{
    margin-top: 30px;
    font-size: 15px;
    color: #03264C;
    font-weight: bold;
    text-align: center;
}

.desdes {
    display: none;
}

#formulario-registro {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    
} 

.formularios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

form div {
    margin-bottom: 10px;
    border-radius: 5%;
    width: 100%;
}


.campoTexto {
    padding: 5px;
    width: 100%;
}

.selecciones {
    display: flex;
    flex-direction: column;
}

.botonForm {
    width: 40%;
}

.botonSubmit{
    background-color: green;
    color: white;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    
}

.botonReset {
    background-color: red;
    color: white;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    
}

.form-register {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    margin-top: 350px;
    justify-content: center;
   
}

.form-register div {
    margin-bottom: 10px;
    border-radius: 5%;
    width: 100%;
}


@media (min-width: 361px){
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .desdes {
        display: block;
    }
    main section article {
        
        width: 45%;
    }
    header nav {
        display: flex;
        justify-content: space-between;
    }

    header div.burger-menu{
        display: none;
    }

    #formulario-registro {
        margin-top: 220px;
    }
    
}

@media (min-width: 769px){
    main section article {
        width: 25%;
        margin-top: 100px;
    }

    .top-header{
        display: flex;
        flex-direction: row;
    }
    
    #formulario-registro {
        margin-top: 260px;
    }

    footer{
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        margin: auto;
    }
    .form-register {
        width: 50%;
        text-align: center;
    }

    .botonSubmit{
        width: 25%;
    }
    
    .botonReset{
        width: 25%;
    }

    .campoTexto{
        width: 100%;
    }

    .desc-prod {
        display: none;
    }

    .buscador{
        width: 300px;
        margin: auto;
        padding: 10px;
        text-align: center;
    }

    article:hover .desc-prod {
        display: block;
    }

    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    article:hover i {
        transform: rotate(-90deg);
    }
}